= content_tag :div, class: "pin-data", data: {pin: @pin} do |pin|
  - nil

%h1 Pin #{@pin.stepnumber}
%h3= @pin.address
%p #{@pin.latitude}, #{@pin.longitude}

#map-canvas

- @pin.texts.each do |text|
  .text
    = text.content
- @pin.images.each do |image|
  .image
    = image_tag image.attachment.url(:medium)
- @pin.videos.each do |video|
  .video
    %video{width: "320", height: "240", controls: true}
      %source{src: "#{video.attachment.url}"}
- @pin.audios.each do |audio|
  %audio{controls: true}
    %source{src: "#{audio.attachment.url}"}
    Your browser does not support this audio format.

= javascript_include_tag :pin