%h3 Trails:
- if @user.created_trails
  - @user.created_trails.each do |trail|
    %h5= link_to trail.name, trail
    %ul
      %li Description: #{trail.description}
      %li Popularity: #{trail.popularity}
      %li Length of Trail: #{trail.length}
- else
  %p This user hasn't created any trails yet!

- unless @user.followed_trails.empty?
  %h3 Trails I've completed
  - @user.followed_trails.each do |trail|
    %h5= link_to trail.name, trail
    %p= trail.description