= form_for @trail do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  / .form_group
  /   = f.hidden_field :creator_id, value: current_user.id, class: 'form-control'
  .form-group
    #pins
      = f.fields_for :pins, @trail.pins.build do |pin|
        = render 'pin_fields', :f => pin
      .links
        = link_to_add_association 'Add pin', f, :pins
  .buttons
    = f.submit