= nested_form_for @trail do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .form_group
    = f.hidden_field :creator_id, value: current_user.id, class: 'form-control'
  .form-group
    #pins
      - 3.times do
        = f.fields_for :pins, @trail.pins.build do |pin|
          = pin.text_field :latitude, class: "lat"
          = pin.text_field :longitude, class: "long"
          = pin.text_field :address, class: "address"
      = f.link_to_add "Add pin", :pins
  .buttons
    = f.submit
