=render "shared/pins_div"

.row.map-container
  .left-panel.col-md-2.nogutter
    .left-container
      %h1 Instructions
      %p Click on each tab to add as many messages, photos, videos, and sound clips as you want!
      %p Followers of your trail will discover the treasure at each location once they have successfully checked in.

  .center-panel.col-md-8.nogutter
    #map-canvas.large

  .right-panel.col-md-2.nogutter
    .right-container
      %h1 Bury Treasure
      %ol{class: "panels"}
        -@trail.pins.each do |pin|
          %li{class: pin.stepnumber}
            = pin.name
          .hidden.add-media{id: pin.stepnumber}
            = form_for pin, url: trail_pin_path(@trail, pin), method: "put", remote: true, authenticity_token: true do |f|
              .field
                = f.fields_for :texts, pin.texts.build do |text|
                  = text.label 'Text'
                  %br
                  = text.text_area :content, class: 'form-control'
                  = text.hidden_field :user_id, value: current_user.id, class: 'form-control'
              .field
                = f.fields_for :images, pin.images.build do |image|
                  = image.label 'Image'
                  %br
                  = image.file_field :attachment
                  = image.hidden_field :user_id, value: current_user.id, class: 'form-control'
              .field
                = f.fields_for :audios, pin.audios.build do |audio|
                  = audio.label 'Audio'
                  %br
                  = audio.file_field :attachment
                  = audio.hidden_field :user_id, value: current_user.id, class: 'form-control'
              .field
                = f.fields_for :videos, pin.videos.build do |video|
                  = video.label 'Video'
                  %br
                  = video.file_field :attachment
                  = video.hidden_field :user_id, value: current_user.id, class: 'form-control'
              .button.inpanel
                =f.submit "Add media!"
    .button.bottom
      = link_to "Done!", @trail

=javascript_include_tag :add_media