= render 'shared/pins_div'

%h1 Edit Trail

#map-canvas

= form_for @trail do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  = f.submit

= javascript_include_tag :trails

= link_to 'Order pins', trail_order_pins_path(@trail)
= link_to 'Add media', trail_add_media_path(@trail)