.dynamic{data: {update: {url: "#{order_trail_pins_path(@trail)}"}}}
  = render 'pin_div'

%h1 Set Pin Order

#map-canvas

%ol{id: "pins", data: {update: {url: "#{sort_trail_pins_path(@trail)}"}} }
  - @pins.each do |pin|
    = content_tag_for(:li, pin) do
      = pin.address

= javascript_include_tag :order_pins