.dynamic{data: {update: {url: "#{order_trail_pins_path(@trail)}"}}}
  = render 'shared/pins_div'

.row.map-container
  .left-panel.col-md-2.nogutter
    .left-container
      %h1 Instructions
      %p Click and drag the pin name tabs on the left to change their order in your trail. Followers of this trail must check in at each pin in strict order, so choose wisely.
      %p When you're done, click "Bury Treasure" to hide some loot at each location!

  .center-panel.col-md-8.nogutter
    #map-canvas.large

  .right-panel.col-md-2.nogutter
    .right-container
      %h1 Order Pins
      %ol{id: "pins", class: "panels", data: {update: {url: "#{sort_trail_pins_path(@trail)}"}} }
        - @pins.each do |pin|
          = content_tag_for(:li, pin) do
            = pin.name
      .button.bottom
        = link_to 'Bury Treasure', trail_add_media_path(@trail), class: "btn btn-default"

= javascript_include_tag :order_pins