= render 'shared/pins_div'

.row.map-container
  .center-panel.col-md-9.nogutter
    #map-canvas.large

  .right-panel.col-md-3.nogutter
    .right-container
      %h1= @trail.name
      %p= @trail.description
      .button.center
        = link_to 'Start Trail', trail_start_path(@trail), method: :post, class: "btn btn-default"


= javascript_include_tag :trails