= render 'shared/pins_div'

%h1= @trail.name
%p= @trail.description

#map-canvas

.button.center
  = link_to 'Start Trail', trail_start_path(@trail), method: :post, class: "btn btn-default"

= javascript_include_tag :trails