= render 'shared/pins_div'

.map-container
  #map-canvas.large

  .float-panel.col-md-3.nogutter
    .float-container
      %h1= @trail.name
      %h3 by 
      %p= @trail.description
      .button.inpanel
        = link_to 'Start Trail', trail_start_path(@trail), method: :post


= javascript_include_tag :trails