= render 'shared/pins_div'

.center.page-header
  %h1= @trail.name
.center
  %p= @trail.description

#map-canvas.small

.button.center
  = link_to 'Start Trail', trail_start_path(@trail), method: :post, class: "btn btn-default"

= javascript_include_tag :trails