%header
	= link_to "App Root", root_path, id: "logo"
	%nav 
		%ul
			%li= link_to "Home", root_path 
			-if signed_in?
				%li= current_user.username
				%li= link_to "Users", users_path
				%li= link_to "Profile", current_user
				%li= link_to "Sign out", signout_path, method: "delete"
			-else
				%li= link_to "Sign in", signin_path
				%li= link_to "Sign up", signup_path